body {
  background-color: #FEFEFE;
}

h1 {
  font-size: 6em;
}

.wrapper {
  width: 100%;
  background-image: url("images/Soccer_Field.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper div {
  display: inline-block;
  width: 14%;
  margin: 5%;
}

.soccer-ball-pic {
  /* constrain our images by the width of their parent */
  width: 100%;
  transition: 500ms;
}

.soccer-ball-pic:hover {
  transition: 500ms;
  transform: rotate(180deg)
}
